@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --clr-primary-Nutmeg: hsl(14, 45%, 36%);
  --clr-primary-darkRaspberry: hsl(332, 51%, 32%);

  --clr-neutral-White: hsl(0, 0%, 100%);
  --clr-neutral-roseWhite: hsl(330, 100%, 98%);
  --clr-neutral-Eggshell: hsl(30, 54%, 90%);
  --clr-neutral-lightGrey: hsl(30, 18%, 87%);
  --clr-neutral-wengeBrown: hsl(30, 10%, 34%);
  --clr-neutral-darkCharcoal: hsl(24, 5%, 18%);

  --fs-paragraph: 1rem;

  --ff-strong: "Young Serif", serif;
  --ff-primary: "Outfit", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: var(--fs-paragraph);
  font-family: var(--ff-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-Eggshell);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  font-style: italic;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Actual code starts here */
main {
  max-width: 736px;
  background-color: var(--clr-neutral-White);

  & .main_content {
    padding: 0 1.875em;
  }
}

h1 {
  font-family: var(--ff-strong);
  font-size: 1.75rem;
}
